<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="achilles.eatathome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Profile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Signup" />
        <activity android:name=".OTP" />
        <activity android:name=".ChoiceRegi" />
        <activity android:name=".CookSignup" />
        <activity android:name=".UploadMenu" />
        <activity android:name=".EditProfile" />
        <activity android:name=".Wallet" />
        <activity android:name=".Address" />
        <activity android:name=".Orders" />
        <activity android:name=".BrowseMenu" />
        <activity android:name=".Cart" />
        <activity android:name=".Login" />
        <activity android:name=".Cook" />
        <activity android:name=".ForgotPass"></activity>
    </application>

</manifest>